<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUserInfo" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:1234/UserInfo/" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_IUserInfo" contract="IUserInfo"
                name="WSHttpBinding_IUserInfo">
                <identity>
                    <userPrincipalName value="ITan_yx-PC\ITan_yx" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>