<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IReqReply" />
                <binding name="NetTcpBinding_ICustomer" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://127.0.0.1:7777/ReqReply/ReqReply"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IReqReply"
                contract="ServiceReference1.IReqReply" name="NetTcpBinding_IReqReply">
                <identity>
                    <userPrincipalName value="ITan_yx-PC\ITan_yx" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://127.0.0.1:6666/Show/Show" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ICustomer" contract="ServiceReference2.ICustomer"
                name="NetTcpBinding_ICustomer">
                <identity>
                    <userPrincipalName value="ITan_yx-PC\ITan_yx" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>