<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="FAF.wcfServices" type="TencentWCF.WCFServiceConfigSection,TencentWCF" />
  </configSections>

  <FAF.wcfServices>
    <client>
      <add key="TravelPlanningPlatform" assembly="FourteenContract" baseAddress="http://localhost:8093/" />
    </client>
  </FAF.wcfServices>

  <appSettings>
    <add key="add" value="123"/>
  </appSettings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>

  <system.serviceModel>
    <client />
    <protocolMapping>
      <add scheme="http" binding="basicHttpBinding" bindingConfiguration="defaultBasicHttpBinding" />
      <add scheme="net.tcp" binding="netTcpBinding" bindingConfiguration="defaultNetTcpBinding" />
    </protocolMapping>
    <bindings>
      <basicHttpBinding>
        <binding name="defaultBasicHttpBinding" closeTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" />
        </binding>
      </basicHttpBinding>
      <netTcpBinding>
        <binding name="defaultNetTcpBinding" closeTimeout="01:00:00" receiveTimeout="01:00:00" sendTimeout="01:00:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" />
            <message clientCredentialType="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>