<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <services>
      <service name="FourService.ReqReply" behaviorConfiguration="ReqReplyBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:1234/ReqReply"/>
            <add baseAddress="net.tcp://127.0.0.1:7777/ReqReply"/>
          </baseAddresses>
        </host>

        <endpoint address="ReqReply" binding="netTcpBinding" contract="FourService.IReqReply"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>

      <service name="FourService.Customer" behaviorConfiguration="CustomerBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:1234/Show"/>
            <add baseAddress="net.tcp://127.0.0.1:6666/Show"/>
          </baseAddresses>
        </host>

        <endpoint address="Show" binding="netTcpBinding" contract="FourService.ICustomer"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="ReqReplyBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
        <behavior name="CustomerBehavior">
          <serviceMetadata httpGetEnabled="false" httpsGetEnabled="false" />
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>